body{
    width: 300px;
    padding: 1rem;
    border: 1px solid #D8D8D8;
}

.heading{
    margin-top: 1px;
}

.animalphoto{
    width: 300px;
    height: 200px;
    margin-bottom: 1em;
}

.below-photo{
    border: 1px solid #D8D8D8;
    padding: 4px 1em;
}

.eleph-layer{
    font-style: italic;
}

.some-information{
    list-style-type: none;
    margin-left: -2.4em;
}

.property{
    font-weight: bold;
}

.description{
    margin-bottom: 1.6em;
}